{% extends 'base/index.html' %}
{% block content %}

<style>
    /* Estilos para la barra de encabezado */
    .header-bar {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .header-bar a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    /* Estilos para el formulario */
    form {
        position: relative; /* Añade posición relativa al formulario */
        padding-left: 30px;
        margin: 0 auto;
    }

    input[type="submit"] {
        background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        position: absolute; /* Añade posición absoluta al botón */
        right: 10px; /* Ajusta la posición derecha según tus necesidades */
        bottom: 10px; /* Ajusta la posición inferior según tus necesidades */
    }

    
</style>

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Return</a>
</div>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}
